@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nanum+Gothic&display=swap');

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: no-repeat left/90% url(game.jpg);
    font-size: clamp(0.2vw, 1.1vw, 5vw);

    /*Make bg image responsive*/
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo {
    position: relative;
    top: 20%;
    display: flex;
    min-height: 4em;
    max-height: 8em;
    justify-content: center;
    width: 55%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1em;
}

.logo img {    
    filter: invert(99%) sepia(0%) saturate(4251%) hue-rotate(165deg) brightness(113%) contrast(100%);
}

.logo span {
    align-self: center;
    font-family: 'Abril Fatface', sans-serif;
    font-size: 2.5em;
    color: white;
}

.imgCredit {
    justify-self: bottom;
}

.use {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(248, 247, 247);
    padding: 5em 3em 5em 3em;
    font-family: 'Nanum Gothic', sans-serif;
}

.use .info {
    text-align: justify;
    font-size: 1.3em;
    line-height: 120%;
}

form {
    width: 90%;
}

fieldset {
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: rgb(252, 252, 252);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

legend {
    font-size: 1.2em;
}


.inputGroup {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 8px;
    font-size: 80%;
}

.input{
    display: flex;
    flex-direction: column;
    border-radius: 2px;
}

input{
    height: 20px;
    font-size: 130%;
}

input:focus {
    outline: none !important;
    background-color: rgb(236, 236, 236);
    box-shadow: 0 0 2px #000000;

}

input:required {
    border: 1px black solid;
    border-radius: 2px;
}

input:valid {
    border: green 1px solid;
}

input.visitado:invalid{
    border: red 1px solid;
}

input.visitado:invalid + span::before {
    content: '✖';
    size: 5px;
    color: red;
    position: absolute;
    right: -1.3em;
    top: -1.6em;
}

input + span {
    position: relative;
}

input:valid + span::before {
    content: '✓';
    size: 5px;
    color: green;
    position: absolute;
    right: -1.3em;
    top: -1.6em;
}

.btn {
    margin-top: 1em;
}

button {
    height: 3em;
    width: 10em;
}
